<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<plugins>
    <plugin>
        <category>map</category>
        <name>BasicMap</name>
        <classname>org.alma.aMazeZing.map.BasicMap</classname>
        <description>A minimalistic but very cool map</description>
        <version>1.0</version>
    </plugin>
</plugins>