<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<plugins>
    <plugin>
        <category>UI</category>
        <name>ConsoleUI</name>
        <classname>org.alma.aMazeZing.UI.ConsoleUI</classname>
        <description>A small and light console display</description>
        <version>1.0</version>
    </plugin>
</plugins>